.headline {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -2%;
}

.headline--1 {
  font-size: 64rem;
  line-height: 1;
}

.headline--2 {
  font-size: 48rem;
  line-height: 1.17;
}

.headline--3 {
  font-size: 40rem;
  line-height: 1.2;
}

.headline--4 {
  font-size: 32rem;
  line-height: 1.25;
}


@media (min-width: 768px) {
  
}
