.footer {}

.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 30px;
}

.footer__copyright {
  color: var(--color-neutral-4);
}


@media (min-width: $tablet) {
  .footer__bottom {
    flex-direction: row;
    justify-content: space-between;
  }
}
