.hero {}

.hero__container {
  padding-block-start: 65px;

  text-align: center;
}

.hero__hairline {
  margin-block-end: 8px;

  text-transform: uppercase;
  text-align: center;
}

.hero__headline {
  margin-block-end: 25px;
  
  text-align: center;
}
